@import "tailwindcss";

@theme {
  --font-display: "Poppins", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #ff9324;
}

@layer base {
  html,
  body {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
  }
}

* {
  font-family: "Poppins", sans-serif !important;
}
